{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}
<div class="d-flex">
    <div class="mt-4 bg-dark col-md-2">
        {% include "profile/sidebar.html.twig" %}
    </div>
    <div class="example-wrapper col-md-8">
        {# <h1 class="mb-4">Hello {{ events.name }}!</h1> #}

        <span class="text-capitalize text-primary">Total Available Events: <span class="badge rounded-pill bg-primary">{{ event_counts }}</span></span>
        {% for event in pager %}
            <div class="card my-4">
                <span class="h5 m-2 text-dark">Event Name: {{ event.name }}</span>
                <ul class="fs-6">
                    <li>Status: 
                        {% if event.active == 1 %}
                            Active
                        {% else %}
                            Not Active
                        {% endif %}
                    </li>
                    <li>Your Event URL: <a class="text-secondary" href="{{ event.scheduling_url }}" >{{ event.scheduling_url }}</a></li>
                    <li>Event Pooling Type: 
                        {% if event.pooling_type == 'round_robin' %}
                            Round Robin
                        {% elseif event.pooling_type == 'collective' %}
                            Collective
                        {% else %}
                            NA
                        {% endif %}
                    </li>
                </ul>
            </div>
        {% endfor %}  
        {{ pagerfanta(pager) }}      
    </div>
</div>

{% block javascripts %}
    <script>
        $(document).ready(function(){
            console.log($("#sidebarProfile").children(".nav-item").children(".nav-link").addClass("text-secondary"));
        });
    </script>

    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
{% endblock %}
{% endblock %}
