{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}
<div class="d-flex">
    <div class="mt-4 bg-dark col-md-2">
        {% include "profile/sidebar.html.twig" %}
    </div>
    <div class="example-wrapper col-md-8">
        <h1 class="mb-4">Hello {{ user.name }}!</h1>

        <span class="text-capitalize text-primary">Check your profile here</span>
        <div class="d-flex">
            <ul class="fs-6 col-md-8">
                <li>Name: {{ user.name }}</li>
                <li>Email: {{ user.email }}</li>
                <li>Your Scheduling URL: <a href="{{ user.scheduling_url }}" >{{ user.scheduling_url }}</a></li>
                <li>Work Email: </li>
                <li>Location: Ahmedabad, Gujarat, India</li>
            </ul>
            <div class="col-md-4">
                <img class="img-thumbnail float-end avatar" src="{{ user.avatar_url }}">
            </div>
        </div>

        <span class="text-capitalize text-primary">Your booking details</span>
        {# <ul class="fs-6 text-dark">
            <li>Registered Name: {{ user.name }} </li>
            <li>Email ID: </li>
            <li>You've Meeting with:  </li>
            <li>Event Type: </li>
            <li>Scheduled From:  <span class="text-secondary"> To </span> </li>
        </ul> #}

        <p class="text-capitalize">Get your appointments booked with us now at any time from anywhere! </p>
        <!-- Calendly link widget begin -->
        <div>
            <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/riyajoshi-sal/customer-meeting?hide_gdpr_banner=1&primary_color=9d6328'});return false;" class="link-widget-home">Finalize Meeting with Us</a>
        </div>  
        <!-- Calendly link widget end -->
    </div>
</div>

{% block javascripts %}
    <script>
        $(document).ready(function(){
            console.log($("#sidebarProfile").children(".nav-item").children(".nav-link").addClass("text-secondary"));
        });
    </script>

    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
{% endblock %}
{% endblock %}
