{% extends 'base.html.twig' %}

{% block title %}My Events{% endblock %}

{% block body %}
<div class="d-flex">
    <div class="mt-4 bg-dark col-md-2">
        {% include "profile/sidebar.html.twig" %}
    </div>
    <div class="example-wrapper col-md-8">
        <div class="d-flex justify-content-between">
            <span class="text-capitalize text-primary">
                Total Available Events: <span class="badge rounded-pill bg-primary">{{ event_counts }}</span>
            </span>
            {# <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{{ path('app_my_events') }}" class="btn btn-primary btn-outline-light" id="btn_events_all">All</a>
                <a href="{{ path('app_my_selected_events', {'status': 1}) }}" class="btn btn-primary btn-outline-light" id="btn_events_active">Active</a>
                <a href="{{ path('app_my_selected_events', {'status': 0}) }}" class="btn btn-primary btn-outline-light" id="btn_events_inactive">Inactive</a>
            </div> #}
        </div>

        <div class="card my-4" id="event_records">
            <span class="h4 m-3">Choose Event to Generate a Single Use Scheduling Link</span>
            <form action="{{ path('app_generate_scheduling_link') }}" method="POST">
                <div class="input-group p-3">
                    <select class="form-select" id="inputGroupSelectEvent" name="inputGroupSelectEvent" onchange="document.getElementById('event_name_text').value=this.options[this.selectedIndex].text">
                        <option selected>Choose...</option>
                        {% for event in events %}
                            <option value="{{ event.uri }}" name="{{ event.name }}">{{ event.name }}</option>
                        {% endfor %}
                    </select>
                    <label class="input-group-text" for="inputGroupSelectEvent">Event</label>
                    <input type="hidden" name="event_text" id="event_name_text" value="" />
                </div>
                <div class="mx-3 mb-3">
                    <input type="submit" class="btn btn-outline-success gen-schedule-link" name="btn_generate_link" id="btn_generate_link" value="Generate Link">
                </div>
            </form>

            {% if event_link is defined %}
                <div class="mx-3 mb-3">
                    <hr>
                    <span>One Time Link for Event '{{ event_name }}': <a href="{{ event_link.booking_url }}" class="text-secondary"> {{ event_link.booking_url }}</a></span>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
