{% extends 'base.html.twig' %}

{% block title %}My Scheduled Event{% endblock %}

{% block body %}
<div class="d-flex">
    <div class="mt-4 bg-dark col-md-2">
        {% include "profile/sidebar.html.twig" %}
    </div>
    <div class="example-wrapper col-md-8">
        {# <h1 class="mb-4">Hello {{ events.name }}!</h1> #}
        <div class="d-flex justify-content-between">
            <span class="fs-4 text-capitalize text-primary">
                {{ event.name }}
            </span>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{{ path('app_scheduled_events') }}" class="btn btn-primary btn-outline-light" id="btn_events_all">All</a>
                <a href="{{ path('app_selected_scheduled_events', {'status': 1}) }}" class="btn btn-primary btn-outline-light" id="btn_events_active">Active</a>
                <a href="{{ path('app_selected_scheduled_events', {'status': 0}) }}" class="btn btn-primary btn-outline-light" id="btn_events_inactive">Cancelled</a>
            </div>
        </div>
        <div id="event">
		        <div class="card my-4" id="event_records">
                    {# <span class="h5 m-2 text-dark">{{ event.name }}</span> #}
                    {# From index 42 onwards, event uuid will get started #}
		            {% set uuid = event.uri|slice(slicer) %}
                    <ul class="m-2 fs-6">
                        <li>Status:
                            {% if event.status == "active" %}
                                <span class="text-success">Active</span>
                            {% elseif event.status == "canceled" %}
                                <span class="text-danger">Cancelled</span>
                            {% else %}
                                {{ event.status }}
                            {% endif %}
                        </li>
                        <li>Event Created At: {{ event.created_at|date("d/m/Y") }} ({{ event.created_at|ago }}) </li>
                        <li> Event Guests: ({{ event.event_guests|length }})
                            {% if event.event_guests != null %}
                                <ul>
                                    {% for guest in event.event_guests %}
                                        <li>
                                            {{ guest.email }} 
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                No any Guests
                            {% endif %}
                        </li>
                        <li> Event Belongs To: ({{ event.event_memberships|length }})
                            {% if event.event_memberships != null %}
                                <ul>
                                    {% for member in event.event_memberships %}
                                        <li> User: <a class="text-secondary" href="{{ member.user }}">{{ member.user }}</a> </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                Not assigned yet
                            {% endif %}
                        </li>
                        <li> Invitees Counts: <a class="text-primary" href="{{ path('app_show_scheduled_event_invitees', {'uuid': uuid}) }}">Show Event Invitees</a> 
                                <ul>
                                    <li> Active: {{ event.invitees_counter.active }} </li>
                                    <li> Limit: {{ event.invitees_counter.limit }} </li>
                                    <li> Total: {{ event.invitees_counter.total }} </li>
                                </ul>
                        </li>
                        
                        {# <li>Event Deleted At: 
                            {% if event.deleted_at != null %}
                                {{ event.deleted_at|date("d/m/Y") }} ({{ event.deleted_at|ago }})
                            {% else %}
                                Not Deleted Yet
                            {% endif %}
                        </li>
                        <li>Event Duration: {{ event.duration }} Minutes </li>
                        <li>Event Booking URL:
                            <a class="text-secondary" href="{{ event.scheduling_url }}">{{ event.scheduling_url }}</a>
                        </li>
                        <li>Event URI:
                            <a class="text-secondary" href="{{ event.uri }}">{{ event.uri }}</a>
                        </li>
                        <li>Event Pooling Type:
                            {% if event.pooling_type == 'round_robin' %}
                                Round Robin
                            {% elseif event.pooling_type == 'collective' %}
                                Collective
                            {% else %}
                                NA
                            {% endif %}
                        </li>
                        <li> Custom Questions: 
                            <ul>
                                {% for question in event.custom_questions %}
                                    <li>
                                        {{ question.name }} ({% if question.required == "true" %}Required 
                                                            {% else %}Optional {% endif %}-
                                        {{ question.type }})
                                    </li>
                                {% endfor %}
                            </ul>
                        </li> #}
                    </ul>
                </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script>
        $(document).ready(function(){
            console.log($("#sidebarProfile").children(".nav-item").children(".nav-link").addClass("text-secondary"));
        });
    </script>

    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
{% endblock %}
{% endblock %}
