<div id="records_main">
	{% for event in pager %}
		<div class="card my-4" id="event_records">
		{# From index 37 onwards, event uuid will get started #}
		{% set uuid = event.uri|slice(slicer) %}
			<div class="d-flex justify-content-between m-2">
				<a class="h5 text-dark" href="{{ path('app_show_event', {'uuid': uuid}) }}">{{ event.name }}</a>
				<a href="{{ path('app_scheduling_links') }}" class="btn-sm btn-success btn-outline-light text-decoration-none" id="btn_generate_scheduling_link">Generate Scheduling Link</a>
			</div>
			<ul class="fs-6">
				<li>Status:
					{% if event.active == 1 %}
                        <span class="text-success">Active</span>
                    {% else %}
                        <span class="text-danger">Not Active</span>
                    {% endif %}
				</li>
				<li>Your Event URL:
					<a class="text-secondary" href="{{ event.scheduling_url }}">{{ event.scheduling_url }}</a>
				</li>
				<li>Event Pooling Type:
					{% if event.pooling_type == 'round_robin' %}
						Round Robin
					{% elseif event.pooling_type == 'collective' %}
						Collective
					{% else %}
						NA
					{% endif %}
				</li>
			</ul>
		</div>
	{% endfor %}
	{{ pagerfanta(pager) }}
</div>
